extends layouts/_application

block vars
  - var bodyTemplate = "about"

block content
  #aloha
  .video-bg(data-video-id="VSEhrhzK830")
    .video-bg__container
      .video-bg__video
    .video-bg__photo
  section.about-me
    .about-me__container
      h1.about-me__title Aloha no, I&rsquo;m Taylor Ho.
      p Born and raised in Hawaii (and now living in San Francisco), I am a firm believer that you cannot succeed without <span id="aloha-shake">aloha</span>.
      p This shines through in my work — whether it&rsquo;s making sure I write code with it&rsquo;s future maintainers in mind, or structuring my front-end architecture with user accessibility at the forefront. I care.
      p I am highly adaptable and driven by learning. If there is a problem, I seek ways to fix it. Whether it takes reading a book or picking up a lesson in a framework I don&rsquo;t know, I&rsquo;ve grown to <span class="strike">resent</span> embrace the challenges that development can bring.
      p If you are looking for a <strong>front-end developer &amp; engineer</strong> for contract or hire, feel free to reach out.
  section.skills-tools
    .skills-tools__container
      .section-title
        .section-title__column
          h2 SKILLS
      each skillset in skills
        .shortlist.shortlist--split
          h5.shortlist__title!= skillset.type
          ul.shortlist__list
            each skill in skillset.list
              li!= skill
      .section-title
        .section-title__column
          h2 TOOLS
      each toolset in tools
        .shortlist.shortlist--split
          h5.shortlist__title!= toolset.type
          ul.shortlist__list
            each tool in toolset.list
              li!= tool
  section.recognition
    .recognition__container
      .section-title
        .section-title__column
          h2 AWARDS
      each award in awards
        .shortlist
          h5.shortlist__title!= award.year
          ul.shortlist__list
            each listItem in award.list
              li!= listItem