extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  header.splash
    .splash__container
      .splash__silhouette
        include ../assets/images/svg/silhouette.svg
  section.projects
    .projects__container
      .section-title
        .section-title__column
          h2 PROJECTS
      .projects__list#projects-list
        each project in projects
          .project
            a.project__image.lazyload(data-format=project.thumbSize data-src="assets/images/projects/#{project.abbr}-bg.jpg" href="#" data-content!=project)
              img(src="assets/images/svg/logo-#{project.abbr}.svg")
            .project__title
              h2!= project.name
                span!= project.type
      .projects__sublist
        each project in otherProjects
          img(src="assets/images/svg/#{project.filename}" alt!=project.name)
  section.recognition
    .recognition__container
      .section-title
        .section-title__column
          h2 AWARDS
      each award in awards
        .shortlist
          h5.shortlist__title!= award.year
          ul.shortlist__list
            each listItem in award.list
              li!= listItem
  section.skills-tools
    .skills-tools__container
      .shortlist.shortlist--split
        h5.shortlist__title SKILLS
        ul.shortlist__list
          each skill in skills
            li!= skill
      .shortlist.shortlist--split
        h5.shortlist__title TOOLS
        ul.shortlist__list
          each tool in tools
            li!= tool