extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.splash
  section.intro
    .intro__container
      aside.intro__aside
        h2 I BUILD WEB <br>APPS + SITES <br>FOR A LIVING
      main.intro__main
        p and I am absolutely passionate about what I do. There has been no better time than now to be engulfed in this world of technology and design. Yesss, I like the sound of that.
        p Based in San Francisco, I am a professional front-end web developer with a love for creating enjoyable digital experiences. <em>I am currently looking for new opportunities</em>.
  section.projects
    each project in projects
      .projects__project.project(data-format=project.thumbSize)
        img.project__logo(src="assets/images/svg/logo-#{project.abbr}.svg")
        ul.project__links
          - if (project.caseStudy !== null)
            li: a.btn.btn--primary(href=project.caseStudy target="_blank") case study
          li: a.btn(href=project.url target="_blank") view site
  section.skills
    each skill in skills
      .skills__skill.skill
        h1.skill__title!= skill.title