extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  header.splash
    .splash__container
      .splash__silhouette
        include ../assets/images/svg/silhouette.svg
  section.projects.projects--main
    .projects__container
      .section-title
        .section-title__column
          h2 PROJECTS
      .projects__list#projects-list
        each project in projects
          .project
            a.project__image.lazyload(data-modal="carousel" data-format=project.thumbSize data-src="assets/images/projects/#{project.abbr}-bg.jpg" href="#" data-content!=project)
              img(src="assets/images/svg/logo-#{project.abbr}.svg")
            .project__title
              h2!= project.name
                span!= project.type
      .projects__sublist
        each project in otherProjects
          img(src="assets/images/svg/#{project.filename}" alt!=project.name)
  section.projects.projects--snippets
    .projects__container
      .section-title
        .section-title__column
          h2 SNIPPETS
      .projects__list#projects-list
        each pen in codepen
          .project
            a.project__image.lazyload(data-modal="iframe" data-src="assets/images/pens/pen-#{pen.penID}.#{pen.thumbFormat}" href="//codepen.io/tellaho/embed/#{pen.penID}/?height=500&theme-id=0&default-tab=result&embed-version=2")
            .project__title
              h2!= pen.name