extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.splash
  section.intro
    .intro__container
      aside.intro__aside
        h2 I BUILD WEB <br>APPS + SITES <br>FOR A LIVING
      main.intro__main
        p and I am absolutely passionate about what I do. There has been no better time than now to be engulfed in this world of technology and design. Ooh—just so exciting, right?
        p Based in San Francisco, I am a professional front-end web developer with a love for creating enjoyable digital experiences. <em>I am currently looking for new opportunities</em>.
  section.projects
    each project in projects
      .projects__project.project(style="background-color: #{project.hexColor};" data-format=project.thumbSize)
        .project__copy.copy
          img.copy__logo(src="assets/images/svg/logo-#{project.abbr}.svg")
          p.copy__tagline!= project.description
          ul.copy__links
            - if (project.caseStudy !== null)
              li: a.btn.btn--primary(href=project.caseStudy target="_blank" style="color: #{project.hexColor};") case study
            li: a(href=project.url target="_blank") view site
        - if (project.thumbSize === "mobile")
          .project__thumb(style="background-image: url('assets/images/projects/#{project.abbr}-mobile.jpg');")
        - else if (project.thumbSize === "desktop")
          .project__thumb(style="background-image: url('assets/images/projects/#{project.abbr}-desktop.jpg');")
  section.writing
    .writing__article
      h2 Here are 10 Things I learned at Epicurrence: The Montues
      h4 8 min read