extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  section.splash
    include ../assets/images/svg/logo-tho.svg
  section.intro
    .intro__container
      aside.intro__aside
        h2 I BUILD WEB <br>APPS + SITES <br>FOR A LIVING
      main.intro__main
        p and I am absolutely <strong>passionate</strong> about what I do. My name is <strong>Taylor Ho</strong> and I am a driven <strong>front-end developer + designer</strong> with several <strong>years of experience</strong>.
        p I love making things just work, using design and technology to take concepts all the way to launch.
        //- It&rsquo;s just so damn inspiring working with people in and out of technology and design.
  section.projects
    .projects__title.section-title
      h2.section-title__header SELECTED<br>WORK
      p.section-title__tagline Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.
    .projects__list
      each project in projects
        .projects__project.project.lazyload(data-format=project.thumbSize data-src="assets/images/projects/#{project.abbr}-bg.jpg")
          img.project__logo(src="assets/images/svg/logo-#{project.abbr}.svg")
          .project__screenshot
            .project__motion.lazyload(data-src="assets/images/projects/#{project.abbr}-screen.gif")
            .project__still.lazyload(data-src="assets/images/projects/#{project.abbr}-screen.jpg")
            include ../assets/images/svg/ui-phone.svg
          ul.project__links
            - if (project.caseStudy !== null)
              li: a.btn.btn--primary(href=project.caseStudy target="_blank" style="color: #{project.hexColor};") case study
            li: a.btn.btn--plain(href=project.url target="_blank") view site
  //- section.skills
  //-   each skill in skills
  //-     .skills__skill.skill
  //-       h1.skill__title!= skill.title

  section.status
    .status__container
      p I am currently in San Francisco working freelance &amp; seeking new opportunities.