extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content
  header.splash
    .splash__container
      .splash__silhouette.lazyload.lazyload--invisible(data-src="../assets/images/splash-portrait.jpg")
        include ../assets/images/svg/silhouette.svg
      .splash__title
        h1 My name is <strong>Taylor Ho</strong> &amp; I build things for the Internet.
  section.intro
    .intro__container
      .intro__column
        .intro__block.intro__block--boxed
          p My expertise is in building websites and web apps through front-end development.
          p I am now living in San Francisco, working with clients across a number of industries.
      .intro__column
        .intro__block.intro__block--open
          h1 Aloha
            a(href="/about.html#aloha") *
            span to you.
  section.projects.projects--main
    .projects__container
      .section-title.section-title--centered.section-title--large
        h2 PROJECTS
        p Building engaging online experiences is how I satisfy my creative drive. Using technology is how I balance my meticulous mind. I love ideas &amp; designs and using technology to make them real things on the web.
      .projects__list#projects-list
        each project in projects
          .project
            a.project__image.lazyload(data-modal="carousel" data-format=project.thumbSize data-src="/assets/images/projects/#{project.abbr}-bg.jpg" href="/projects/#{project.niceName}.html" data-content!=project)
              img(src="/assets/images/svg/logo-#{project.abbr}.svg")
            .project__title
              h2!= project.name
                span!= project.type
      .projects__sublist
        each project in otherProjects
          img(src="/assets/images/svg/#{project.filename}" alt!=project.name)
  section.projects.projects--snippets
    .projects__container
      .section-title.section-title--centered.section-title--large
        h2 SNIPPETS
        p Development is a balance of following fundamentals and experimenting with new ideas. Here are some code snippets on Codepen where I put ideas (and libraries/frameworks) to the test.
      .projects__list#projects-list
        each pen in codepen
          .project
            a.project__image.lazyload(data-src="/assets/images/pens/pen-#{pen.penID}.#{pen.thumbFormat}" href="//codepen.io/tellaho/pen/#{pen.penID}" target="_blank")
            .project__title
              h2!= pen.name