extends layouts/_application

block vars
  - var bodyTemplate = "home"

block content

  header.splash
    .splash__background.lazyload(data-src-small="../assets/images/bg-splash-mobile.jpg" data-src="../assets/images/bg-splash.jpg")
      //- svg(viewBox="0 0 400 400")
      //-   defs
      //-     mask#mask(maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse")
      //-       image(width="400" height="400" xlink:href="../assets/images/bg-subject.png")
      //-   image(xlink:href="../assets/images/bg-splash.jpg" x="0" y="0" height="400" width="1239")
  section.short-bio
    .short-bio__container
      .short-bio__copy
        h1 Taylor Ho
        h2 Front-end developer &amp; designer
      ul.short-bio__social
        li: a(href="https://github.com/taylorkmho" target="_blank"): include ../assets/images/svg/icon-github.svg
        li: a(href="https://www.linkedin.com/in/taylorho" target="_blank"): include ../assets/images/svg/icon-linkedin.svg
        li: a(href="http://codepen.io/tellaho/" target="_blank"): include ../assets/images/svg/icon-codepen.svg
        li: a(href="https://twitter.com/tellaho_" target="_blank"): include ../assets/images/svg/icon-twitter.svg
  section.intro
    .intro__main
      .intro__copy
        p My name is <strong>Taylor Ho</strong> and I am a <strong>front-end developer &amp; designer</strong> with <strong>several years of experience</strong> living in <strong>San Francisco</strong>.
        p I build web apps and sites for a living and I am absolutely passionate about what I do. Design and technology enable me to take concepts all the way to launch.
        .intro__skills.skills
          .skills__skill
            include ../assets/images/svg/graphic-uiux.svg
            h5 UX/UI DESIGN
          .skills__skill
            include ../assets/images/svg/graphic-prototyping.svg
            h5 PROTOTYPING
          .skills__skill
            include ../assets/images/svg/graphic-development.svg
            h5 DEVELOPMENT
        p I have worked with great creative teams at companies like <a href="http://walltowall.com" target="_blank">Wall-to-Wall Studios</a> in Honolulu and <a href="http://cibosf.com" target="_blank">Cibo</a> in San Francisco.
        p I am currently working freelance, <strong>seeking a full-time opportunity</strong> with a product-driven company. I am looking to join a team that I can contribute to and grow with.
  section.projects
    .projects__title.section-title
      .section-title__column
        h2 SELECTED<br>WORK
        p Following a mobile-first philosophy, all projects are built to serve users across all devices. Front-end code should be lean and mean. Semantic mark-up is the way. Each project is an opportunity to try and learn something new.
    .projects__list
      each project in projects
        .projects__project.project.lazyload(data-format=project.thumbSize data-src="assets/images/projects/#{project.abbr}-bg.jpg")
          img.project__logo(src="assets/images/svg/logo-#{project.abbr}.svg")
          .project__screenshot
            .project__motion.lazyload(data-src="assets/images/projects/#{project.abbr}-screen.gif")
            .project__still.lazyload(data-src="assets/images/projects/#{project.abbr}-screen.jpg")
            include ../assets/images/svg/ui-phone.svg
          ul.project__links
            - if (project.caseStudy !== null)
              li: a.btn.btn--primary(href=project.caseStudy target="_blank" style="color: #{project.hexColor};") case study
            li: a.btn.btn--plain(href=project.url target="_blank") view site

  footer.footer.lazyload(data-src="../assets/images/bg-footer.jpg")
    .footer__container
      //- p I AM SEEKING A FULL-TIME OPPORTUNITY WITH A PRODUCT-DRIVEN COMPANY.&nbsp;
      p I am seeking a full-time opportunity with a product-driven company.
      p
        | <span id="footer-phrase">HIRING A FRONT-END?</span>&nbsp;
        a(href="mailto:taylorkmho@gmail.com" data-copy="EMAIL ME") EMAIL ME