extends layouts/_application

block vars
  - var bodyTemplate = "home"

block additionalHead
  link(rel="prerender" href="/about.html")

block content
  header.splash
    .splash__container
      .splash__silhouette.lazyload.lazyload--invisible(data-src="../assets/images/splash-portrait.jpg")
        include ../assets/images/svg/silhouette.svg
      .splash__title
        h1 My name is Taylor Ho &amp; I build things on the Internet.
  section.projects.projects--main
    .projects__container
      .section-title.section-title--centered.section-title--large
        h2 WORK
        p As a <strong>front-end developer</strong> based in <strong>San Francisco</strong>, building engaging online experiences is how I satisfy my creative drive. I love ideas &amp; designs and using technology to make them real things on the web.
      .projects__list#projects-list
        each project in projects
          .project
            a.project__image.lazyload(data-modal="carousel" data-format=project.thumbSize data-src="/assets/images/projects/#{project.abbr}-bg.jpg" href="/projects/#{project.niceName}.html" data-content!=project)
              img(src="/assets/images/svg/logo-#{project.abbr}.svg")
            noscript
              a.project__noscript(href="/projects/#{project.niceName}.html" style="background-image: url('/assets/images/projects/#{project.abbr}-bg.jpg');")
                h2!= project.name
                  span!= project.type
      .projects__sublist
        each project in otherProjects
          img(src="/assets/images/svg/#{project.filename}" alt!=project.name)
  section.projects.projects--snippets
    .projects__container
      .section-title.section-title--centered.section-title--large
        h2 PLAY
        p Development is a balance of following fundamentals and experimenting with new ideas. Here are some code snippets where I put ideas to the test.
      .projects__list#projects-list
        each snippet in snippets
          .project
            a.project__image.lazyload(data-src="/assets/images/snippets/#{snippet.thumbFilename}" href="#{snippet.location}" target="_blank")
            .project__title
              h2!= snippet.name
            noscript
              a.project__noscript(href="#{snippet.location}" style="background-image: url('/assets/images/snippets/#{snippet.thumbFilename}');")
                h2!= snippet.name