//- Schema.org
meta(itemprop="name"            content=websiteTitle)
meta(itemprop="description"     content=metadataDescription)
//- OpenGraph
meta(property="og:title"        content=websiteTitle)
meta(property="og:site_name"    content=websiteTitle)
meta(property="og:type"         content="website")
meta(property="og:url"          content=metadataURL)
meta(property="og:description"  content=metadataDescription)
meta(property="og:image"        content=metadataImage)
meta(property="og:image:width"  content="1200")
meta(property="og:image:height" content="815")
//- Twitter
meta(name="twitter:card"        content="summary_large_image")
meta(name="twitter:site"        content=twitterHandle)
meta(name="twitter:title"       content=websiteTitle)
meta(name="twitter:description" content=metadataDescription)
meta(name="twitter:creator"     content=twitterHandle)
meta(name="twitter:image"       content=metadataImage)